{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{template "title" .}} - Game Technologies</title>
        <link rel="stylesheet", href="./gameplatform/static/css/main.css", type="text/css">
        <link rel="shortcut icon", href="./gameplatform/static/image/favicon.ico", type="image/x-icon">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href="/gameplatform">Laboratory of Game Technologies</a></h1>
        </header>
        <nav>
            {{template "navigation" .}}
        </nav>
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <script src="./gameplatform/static/js/main.js", type="text/javascript"></script>
    </body>
</html>
{{end}}