{{template "base" .}}

{{define "title"}}ИГРА {{.Game.Title}}{{end}}

{{define "navigation"}}
<a href="/gameplatform/game?id={{.Game.ID}}">НАЗАД</a>
{{end}}

{{define "main"}}
{{with .Game}}
<iframe id="gameFrame" src="{{.Src}}" width="960" height="600" scrolling="no"></iframe>
<button id="fullscreenButton">НА ВЕСЬ ЭКРАН</button>
<script>
    const main = document.getElementById("main")
    const fullscreen_button = document.getElementById('fullscreenButton');
    const iframe = document.getElementById('gameFrame');
    window.addEventListener("message", e=>{
        console.log("LOADED", e)
    });
    fullscreen_button.addEventListener('click', () => {
        console.log("post message", 'iframe -> index')
        iframe.contentWindow.postMessage(1, "*")

        if (iframe.requestFullScreen) {
            iframe.requestFullscreen();
        } else if (iframe.mozRequestFullScreen) {
            iframe.mozRequestFullScreen();
        } else if (iframe.webkitRequestFullscreen) {
            iframe.webkitRequestFullscreen();
        } else if (iframe.msRequestFullscreen) {
            iframe.msRequestFullscreen();
        }
    });
</script>
{{end}}
{{end}}
