{{template "base" .}}
{{define "title"}}Главная страница{{end}}
{{define "navigation"}}
<a href="/gameplatform">ГЛАВНАЯ</a>
{{end}}
{{define "main"}}
<h2>ВИТРИНА</h2>
<div class="grid-container">
    {{if .Games}}
    {{range .Games}}
    <div class="grid-item">
        <a class="body" href="/gameplatform/game?id={{.ID}}">
            <div class="preview-container">
                <img src="{{.PreviewImage}}" alt="Превью игры {{.Title}}">
            </div>
            <p>{{.Title}}</p>
            <a class="play" href="/gameplatform/play?id={{.ID}}">ИГРАТЬ</a>
        </a>
    </div>
    {{end}}
    {{else}}
    <p>Пока нет игр...</p>
    {{end}}
</div>
{{end}}