{{template "base" .}}
{{define "title"}}Главная страница{{end}}
{{define "navigation"}}
<a href="/gameplatform">ГЛАВНАЯ</a>
{{end}}
{{define "main"}}
<div class="grid-container">
    {{if .Games}}
    {{range .Games}}
    <div class="grid-item">
        <a class="body" href="/game/{{.ID}}">
            <div class="preview-container">
                <img src="{{.Icon}}" alt="Превью игры {{.Title}}">
            </div>
            <div class="play-button">{{.Title}}</div>
        </a>
    </div>
    {{end}}
    {{else}}
    <p>Пока нет игр...</p>
    {{end}}
</div>
{{end}}
