{{template "base" .}}
{{define "title"}}Главная страница{{end}}
{{define "navigation"}}
<a href="/gameplatform">ГЛАВНАЯ</a>
{{end}}
{{define "main"}}
<h2>ВИТРИНА</h2>
<div class="grid-container">
    {{if .Games}}
    {{range .Games}}
    <div class="grid-item">
        <div class="preview-container" href="/gameplatform/game?id={{.ID}}">
            <img src="{{.PreviewImage}}" alt="Превью игры {{.Title}}">
        </div>
        <a href="/gameplatform/game?id={{.ID}}">{{.Title}}</a>
        <span class="play">
            <a href="/gameplatform/play?id={{.ID}}">ИГРАТЬ</a>
        </span>
    </div>
    {{end}}
    {{else}}
    <p>Пока нет игр...</p>
    {{end}}
</div>
{{end}}