{{template "base" .}}

{{define "title"}}ИГРА {{.Game.Title}}{{end}}

{{define "navigation"}}
    <a href="/gameplatform">ГЛАВНАЯ</a> 
{{end}}


{{define "main"}}
    {{with .Game}}
    <div class="gamepage">
        <div class="metadata">
            <strong>{{.Title}}</strong>
        </div>
        <pre>
            <pre>{{.Description}}</pre>
        </pre>
        <div class="metadata">
            <a href="/gameplatform/play?id={{.ID}}">ИГРАТЬ</a>
            <time>Created: {{.Created.Day}} {{.Created.Month}} {{.Created.Year}}</time>
        </div>
    </div>
    {{end}}
{{end}}